:root {
  --brand-color-black: #212121;
  --brand-color-blue: #2196f3;
  --brand-color-gray: #757575;
  --brand-color-white: white;
  --brand-background-black: #2f303a;
  --brand-color-dark-blue: #188ce8;
  --brand-background-white: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--brand-color-black);
}
ul {
  list-style: none;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.section {
  padding: 94px 0 94px 0;
}
.logo {
  font-family: raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.173;
  color: var(--brand-color-black);
  text-decoration: none;
  letter-spacing: 0.03em;
  padding: 24px 0 25px;
}
.logo:focus,
.logo:hover {
  color: var(--brand-color-black);
}
.logo-web {
  color: var(--brand-color-blue);
}
.logo-bot {
  color: var(--brand-color-white);
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-size: 26px;
}

.container-head {
  display: flex;
}

.nav-link {
  color: var(--brand-color-black);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.172;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  margin-right: auto;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--brand-color-blue);
}

.site-nav {
  display: flex;
  padding-left: 93px;
  align-items: center;
}
.site-nav-link:nth-last-child(-n + 2) {
  margin-left: 50px;
}

.contacts {
  display: flex;
  align-items: center;
}
.contact {
  color: var(--brand-color-gray);
}
.contact-item:last-child {
  margin-left: 50px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.hat {
  background-color: var(--brand-background-black);
}
.hat-header {
  color: var(--brand-color-white);
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.363;
  letter-spacing: 0.06em;
}
.header-second {
  font-size: 36px;
  line-height: 1.171;
  letter-spacing: 0.03em;
}
.place-order {
  color: var(--brand-color-white);
  font-size: 16px;
  background-color: var(--brand-color-blue);
  cursor: pointer;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.place-order:focus,
.place-order:hover {
  background-color: var(--brand-color-dark-blue);
}
.benefits {
  display: flex;
}
.benefits-header {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.172;
  letter-spacing: 0.03em;
}
.benefits-text {
  font-size: 14px;
  color: var(--brand-color-gray);
  line-height: 1.171;
  letter-spacing: 0.03em;
}
.we-do {
  display: flex;
}
.team {
  display: flex;
}
.team-section {
  background-color: var(--brand-background-white);
}
.team-header {
  font-size: 16px;
  line-height: 1.178;
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 1.178;
  letter-spacing: 0.03em;
}
.team-description {
  background-color: var(--brand-color-white);
}
footer {
  background-color: var(--brand-background-black);
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 1.714;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.adres {
  color: var(--brand-color-white);
}
.address-link:focus,
.address-link:hover {
  color: var(--brand-color-blue);
}
.adres:focus,
.adres:hover {
  color: var(--brand-color-white);
}
.filter {
  display: flex;
}
.filter-button {
  font-size: 16px;
  cursor: pointer;
  line-height: 1.625;
  font-family: inherit;
  color: var(--brand-color-black);
  background-color: var(--brand-background-white);
  font-family: inherit;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.filter-button:focus,
.filter-button:hover {
  color: var(--brand-color-white);
  background-color: var(--brand-color-blue);
}
.portfolio-works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-works-header {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-works-text {
  font-size: 16px;
  color: var(--brand-color-gray);
  line-height: 1.875;
  letter-spacing: 0.03em;
}
